.offerCard {
  width: 254px;
  height: 254px;
  border: 20px solid rgba(50, 56, 65, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #292e36;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}
.offerCardBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
