.activeOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}
.activeOrderBlock {
  width: 60%;
  gap: 40px;
}

.activeOrderCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #c6ab8224;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  box-shadow: 10px 5px 5px #9a867eaf;
  border-radius: 15px;
  margin-bottom: 10px;
}
.activeOrderCard img {
  width: 100px;
  height: 100px;
}
.mapBlock {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 955px) {
  .activeOrder {
    display: flex;
    flex-direction: column-reverse;
    
  }
  .active{
    padding: 20px 8px;
  }
  .activeOrderBlock{
    width: 100%;
  }
}
@media screen and (max-width: 518px) {
 
  
  .activeOrderCard{
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
 
  
  .activeOrderCard{
    flex-direction: column;
    width: 90%;
  }
  .activeOrderCard img{
    width: 200px;
    height: 200px;
  }
}
